@charset "UTF-8";

/*------------------------------------------------------------------
[Master Stylesheet]
Project                        :    Ynex - NextJs Tailwind CSS & Admin Dashboard Template 

Created Date                   :   12/03/2024

Author & Copyright Ownership   :   Spruko Technologies Private Limited 

Author URL                     :   https://themeforest.net/user/spruko

Support	                       :   https://support.spruko.com/

License Details                :   https://spruko.com/licenses-details

-------------------------------------------------------------------*/
/*------------------- Start Table of Content 

FontFamily
Tailwind
Variables
Icons
Dashboard-1
Dashboard-2
Dashboard-3
Dashboard-4
Dashboard-5
Dashboard-6
Dashboard-7
Dashboard-8
Dashboard-9
Dashboard-11
Custom
Button
Box
Alert
Avatar
Badge
List-Group
Progress
Spinner
Toast
Form
Dropzone
Filepond
Color Picker
Dropdown
Modal
Offcanvas
Tooltip
Table
Chart
Pagination
Flat-pickr
Choices
Tom-select
Quil Editor
Rangeslider
Map
Swiper Carousel
Sweetalert
TreeView
Datatable
Calendar
Gallery
Header
Vertical
Responsive
Horizontal
Menu-Click
Menu-Hover
Icon-Click
Icon-Hover
switcher
Mail
Chat
Ecommerce
Invoice
Team
Profile
About
Timeline
Todo
Landing
Authentication
Widgets
blog
notifications
Classic-Page Styles
Boxed
Menu-Scrollable
Header-Scrollable
Closed-Menu
Icon-Overlay
IconText-Menu 
Detached-Menu
Double-Menu
Menu Styles
Header Styles 
Background Image

-------------------*/
/* Start FontFamily Styles */
/* inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
/* Start Tailwind Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* End Tailwind Styles */
/* :root {
  --body-bg: 240 241 247;
  --primary: 132 90 223;
  --primary-rgb: 132, 90, 223;
  --secondary: 35 183 229;
  --warning: 245 184 73;
  --info: 73 182 245;
  --success: 38 191 148;
  --danger: 230 83 60;
  --light: 243 246 248;
  --dark: 35 35 35;
  --orange: 255 165 5;
  --pink: 231 145 188;
  --teal: 18 194 194;
  --purple: 137 32 173;
  --default-text-color: 51 51 53;
  --default-border: 243 243 243;
  --default-background: 247 248 249;
  --menu-prime-color: 83 100 133;
  --menu-border-color: 243 243 243;
  --header-prime-color: 83 100 133;
  --header-border-color: 243 243 243;
  --bootstrap-card-border: 243 243 243;
  --list-hover-focus-bg: 245 246 247;
  --text-muted: 140 144 151;
  --input-border: 233 237 246;
  --red: 208 61 70;
  --blue: 43 62 101;
  --green: 29 216 113;
  --cyan: 0 209 209;
  --indigo: 77 93 219;
  --gray: 134 153 163;
  --yellow: 255 193 2;
  --facebook: 59 89 152;
  --twitter: 0 172 238;
  --github: 51 51 51;
  --google: 207 78 67;
  --youtube: 255 0 0;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

/* Start:: Back to Top
.scrollToTop {
  @apply fixed bottom-5 end-5 z-[99] flex hidden h-10 w-10 items-center justify-center rounded-md bg-primary bg-center bg-no-repeat text-center text-white shadow-lg transition duration-100;
} */

/* Start:: Back to Top
select option:active,
select option:hover,
select option:focus {
  background-color: green !important;
}
 */
